{% extends 'payment/base.html' %}    
        
{% block page_title %}
    <title>Paystack Payment</title>
{% endblock page_title %}

{% block container_content %}
 
<form class="form-signin" method="POST" action="" id="enter_bvn">
{% csrf_token %}

    <h3 class="form-signin-heading text-center">PayStack Payment</h3>
    
    {% for msg in messages %}
      <h5 class="form-signin-heading text-center text-danger">{{ msg }}</h5>
    {% endfor %}
    
    <!--<div class="row-fluid">
        <label>Merchant Key</label>
        <input type="text" name="merchant_key" id="id_merchant_key" class="form-control" value="tk_biDdQrtXvO" readonly>
    </div>
    -->
    <div class="row-fluid">
        <label>Secret Key</label>
        <input type="text" name="secret_key" id="id_secret_key" class="form-control" value="Bearer sk_test_e3aa88f4c9f8ab56ec3ef74aa017fb10aac346e7" readonly>
    </div>
    
    <div class="row-fluid">
        <label>Reference</label>
        <input type="text" name="reference" id="id_reference" class="form-control" value="{{ reference }}" readonly >
    </div>
    
    <div class="row-fluid">
        <label>Amount</label>
        <input type="number" name="amount" id="id_amount" class="form-control" required autofocus>
    </div>
    
    <div class="row-fluid">
        <label>Email</label>
        <input type="email" name="email" id="id_email" class="form-control" required>
    </div>
    
    <div class="row-fluid" style="padding-top: 40px;">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </div>
    
</form>

{% endblock container_content %}

 
  

